.cardsContainer {
    height: 500px;
    width: 700px;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(3, 1fr);
    gap: 1em;
    position: relative;
    margin-top: 2rem;
}

.btn {
    position: absolute;
    top: 35%;
    left: -25%;
    cursor: pointer;
    background-color: aquamarine;
    padding: 0.5rem;
    border-radius: 8px;
    color: #fff;
    border: none;
    font-weight: 800;
    font-size: 1.2rem;
}